{% extends 'base.html' %}
{% block basket/checout %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required type="text" class="form-control" name="name" placeholder="Name...">
                        </div>
                        <div class="form-field">
                            <input required type="email" class="form-control" name="email" placeholder="Email...">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input required type="text" name="address" placeholder="Address..." class="form-control">
                        </div>

                        <div class="form-field">
                            <input required type="text" name="city" placeholder="City..." class="form-control">
                        </div>

                        <div class="form-field">
                            <input required type="number" name="index" placeholder="Index..." class="form-control">
                        </div>

                        <div class="form-field">
                            <input required type="number" name="phone" placeholder="Phone..." class="form-control">
                        </div>

                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>

            <div class="box-element hidden " id="payment-info">
                <small>Paypal Options</small>
                <button class="btn btn-success" id="make-payment">Make Payment</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'app_main:basket' %}">&#x2190; Back to basket</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2;"><img src="{{ item.product.image_url }}" style="width: 100px;"></div>
                    <div style=" flex:2; margin-right: 10px;">
                        <p style="color: #222;">{{ item.product.name }}</p>
                    </div>
                    <div style="flex:1; font-weight: 600;">{{ item.product.price|floatformat:2 }} &#x20BD;</div>
                    <div style="flex:1;">x{{ item.quantity }}</div>
                </div>
                {% endfor %}

                <h5 style="display: flex;">Items: <p style="font-weight: 600;">{{ basket_items }}</p>
                </h5>
                <h5 style="display: flex;">Total: <p style=" font-weight: 600;">{{ basket_total|floatformat:2 }}
                        &#x20BD;
                    </p>
                </h5>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    let shipping = '{{ order.shipping }}'
    console.log(shipping)
    let total = ' {{ basket_total|floatformat:2}}'


    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser') {

        document.getElementById('form-wrapper').classList.add('hidden');

        document.getElementById('payment-info').classList.remove('hidden')
    }

    let form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()

        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function (e) {
        submitFormData()
    })

    function submitFormData() {


        let userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        let shippingInfo = {
            'address': null,
            'city': null,
            'index': null,
            'phone': null,
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.index = form.index.value
            shippingInfo.phone = form.phone.value
        }

        let url = '/process_order/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'form': userFormData,
                'shipping': shippingInfo
            })
        })

            .then((response) => {
                return response.json()
            })
            .then((data) => {
                alert(data)

                basket = {}
                document.cookie = 'basket=' + JSON.stringify(basket) + ";domain=;path=/"

                window.location.href = '{% url "app_main:index" %}'
            })
    }

</script>

{% endblock basket/checout %}